# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*pyo
.env
*.egg-info

# Jupyter Notebooks
.ipynb_checkpoints/

# Data - Raw and processed
data/raw/
data/processed

# Models
models/

# Virtual Environment
venv/
env/
.venv/

# OS Files
.DS_Store    # Mac
Thumbs.db    # Windows
desktop.ini  # Windows

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
